<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <script scr="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main">
        <div class="form">
            <form action="/create" method="post">
                <input class="title" type="text" placeholder="Title" name="title">
                <textarea placeholder="Message..." name="details"></textarea>
                <input class="button" type="submit" value="Create Task">
            </form>
        </div>
        <div class="tasks">
            <% if(files.length > 0){ %>
                <% files.forEach(function(val){  %>
                    <div class="col-3">
                        <div>
                            <h2><%= val %></h2>
                            <p></p>
                            <a href="/file/<%= val %>">Read More</a>
                            <a href="/edit/<%= val %>">Edit</a>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h2>no Task yet.</h2>
            <% } %>
            <!-- <div class="col-3">
                <div>
                    <h2>Title</h2>
                    <p></p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <h2>Title</h2>
                    <p></p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <h2>Title</h2>
                    <p></p>
                    <a href="">Read More</a>
                </div>
            </div> -->
        </div>
    </div>
</body>
</html>