<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <script scr="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="main">
        <div class="tasks">
            <div>
                <a href="/">Home Back</a>
                <h2><%= filename %></h2>
                <p><%= filedata %></p>
            </div>
        </div>
    </div>
</body>

</html>